<div class="quiz-container">
    <h3>Evaluating {{membername}}</h3>

    <form method="post" action="">
        <input type="hidden" name="id" value="{{id}}">
        <input type="hidden" name="memberindex" value="{{memberindex}}">
        
        {{#questions}}
            <div class="question">
                <label>{{text}}</label>
                <input type="text" name="answers[{{id}}]" value="{{answer}}">
            </div>
        {{/questions}}

        {{#islast}}
            <button type="submit" name="action" value="submit" class="btn btn-success">
                {{#str}} submit, mod_smartspe {{/str}}
            </button>
        {{/islast}}
        {{^islast}}
            <button type="submit" name="action" value="next" class="btn btn-primary">
                {{#str}} next, mod_smartspe {{/str}}
            </button>
        {{/islast}}
    </form>
</div>
