<h2>{{fullname}} - {{#is_peer}}Peer{{/is_peer}}{{^is_peer}}Self{{/is_peer}} Evaluation</h2>

<form method="post">
  <input type="hidden" name="type" value="{{type}}">
  <input type="hidden" name="evaluateeid" value="{{evaluateeid}}">
{{#questions}}
    <div class="question-block mb-4">
        <p><strong>Question {{display_number}}:</strong></p>
        {{{text}}}

        {{#qtype_essay}}
            <textarea name="answer_{{display_number}}" rows="4" class="form-control">{{current_answer}}</textarea>
        {{/qtype_essay}}

        {{#options}}
            <div class="form-check">
                <input class="form-check-input" type="radio" 
                      name="answer_{{id}}" 
                      value="{{value}}" {{#checked}}checked{{/checked}}>
                <label class="form-check-label">{{text}}</label>
            </div>
        {{/options}}

    </div>
{{/questions}}

<button type="submit" class="btn btn-primary rounded">Finish {{#is_peer}}Peer{{/is_peer}}{{^is_peer}}Self{{/is_peer}} Evaluation</button>
</form>
