<div class="smartspe-teacher-container">

  <h2>{{activityname}}</h2>
  <p>{{description}}</p>

  <div class="smartspe-actions">
    <a href="{{actionbutton.url}}" class="btn btn-primary">
      <i class="fa {{actionbutton.icon}}"></i> {{actionbutton.name}}
    </a>
  </div>

  <div class="smartspe-footer">
    <p>Grading method: Highest grade</p>
  </div>

</div>
