<div class="smartspe-intro-container">
    <h2>{{activityname}}</h2>
    <div class="smartspe-intro-description">
        {{{description}}}
    </div>

    <div class="smartspe-start-button center mt-3">
        <a href="{{starturl}}" class="btn btn-primary">
            {{#str}}startattempt, mod_smartspe{{/str}}
        </a>
    </div>
</div>
